<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo-icon.png">
    <!--<link rel="stylesheet" href="/css/normalize.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="header">
        <div class="logo-barra">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo de MELI"></a>
            </div>
            <form method="get" action="" class="barra-busqueda">
                <input class="input" type="text" name="nombre" placeholder="Buscar productos, marcas">
                <button type="submit" class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en coutas y sin tarjeta de Crédito</p>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <nav>
            <ul class="lista-izq">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul class="lista-der">
                <li><a href="/registro">Creá tu Cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li>Mis Compras<i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <img src="/images/img-home-banner.jpg">
        <section>
            <h3>Basado en tu ultima visita</h3>
            <div class="productos">
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="cuadroDescripcion">
                        <div class="logoEnvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="PyD">
                            <span class="precio">$6.770</span>
                            <span class="descuento">40% OFF</span>
                        </div>
                        <span class="descripcion">Cafetera Moulinex</span>
                    </div>               
                </article>
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="cuadroDescripcion">
                        <div class="logoEnvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="PyD">
                            <span class="precio">$230.000</span>
                            <span class="descuento">20% OFF</span>
                        </div>
                        <span class="descripcion">Macbook Pro 2019</span>
                    </div>                
                </article>
                <article class="articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="cuadroDescripcion">
                        <div class="logoEnvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="PyD">
                            <span class="precio">$70.500</span>
                            <span class="descuento">10% OFF</span>
                        </div>
                        <span class="descripcion">Samsung Galaxy S10</span>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="cuadroDescripcion">
                        <div class="logoEnvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="PyD">
                            <span class="precio">$23.200</span>
                            <span class="descuento">5% OFF</span>
                        </div>                    
                        <span class="descripcion">SmartTV Samsung 43"</span>
                    </div>                
                </article>
            </div>
        </section>
        <section>
            <h3>Seccion de Ofertas</h3>
            <div class="productos">
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="cuadroDescripcion">
                        <div class="logoEnvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="PyD">
                            <span class="precio">$6.770</span>
                            <span class="descuento">40% OFF</span>
                        </div>
                        <span class="descripcion">Cafetera Moulinex</span>
                    </div>                
                </article>
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="cuadroDescripcion">
                        <div class="logoEnvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="PyD">
                            <span class="precio">$230.000</span>
                            <span class="descuento">20% OFF</span>
                        </div>                    
                        <span class="descripcion">Macbook Pro 2019</span>
                    </div>              
                </article>
                <article class="articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="cuadroDescripcion">
                        <div class="logoEnvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="PyD">
                            <span class="precio">$70.500</span>
                            <span class="descuento">10% OFF</span>
                        </div>                    
                        <span class="descripcion">Samsung Galaxy S10</span>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="cuadroDescripcion">
                        <div class="logoEnvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="PyD">
                            <span class="precio">$23.200</span>
                            <span class="descuento">5% OFF</span>
                        </div>
                        <span class="descripcion">SmartTV Samsung 43"</span>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>
                Seguridad, de principio a fin
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </section>
        <p>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </footer>
</body>
</html>